<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login">Back</ion-back-button>
    </ion-buttons>
    <ion-title>{{usuario.nombre}} {{usuario.apellido}}</ion-title>
  </ion-toolbar>

  <br />
  <ion-avatar>
    <img
      alt="Silhouette of a person's head"
      src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"
    />
  </ion-avatar>
  <br />
  <p>
    <ion-text color="warning"
      ><ion-icon name="code-slash-outline"></ion-icon
    ></ion-text>
    Te damos la bienvenido a la pagina de inicio.
  </p>
</ion-header>

<ion-content>
  <br />
  <ion-button [routerLink]="['/profesor']">Profesor</ion-button>
  <br />
  <br />
  <ion-button [routerLink]="['/alumno']">Alumno</ion-button>
  <br />
  <br />

  <h1>Calendario</h1>

  <ion-datetime></ion-datetime>
</ion-content>
