<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login">Back</ion-back-button>
    </ion-buttons>
    <ion-title>BIENVENIDO</ion-title>
  </ion-toolbar>

  <br />
  <ion-avatar>
    <img
      alt="Silhouette of a person's head"
      src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"
    />
  </ion-avatar>
  <br />
  <p>
    <ion-text color="warning" class="ion-text-center"
      >¡ Bienvenido {{usuario.nombre}} !</ion-text
    >
  </p>
</ion-header>

<!-- <ion-content>
  <br/>
  <ion-button [routerLink]="['/profesor']">Profesor</ion-button>
  <br/>
  <br/>
  <ion-button [routerLink]="['/alumno']">Alumno</ion-button>
  <br/>
  <br/>
</ion-content> -->

<!-- Prueba -->
